DO $ $
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'announcements' AND column_name = 'campus_id') THEN
        ALTER TABLE announcements ADD COLUMN campus_id UUID REFERENCES campuses(id) ON DELETE CASCADE;
    END IF;

    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'assignments' AND column_name = 'campus_id') THEN
        ALTER TABLE assignments ADD COLUMN campus_id UUID REFERENCES campuses(id) ON DELETE CASCADE;
    END IF;
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'fees' AND column_name = 'campus_id') THEN
        ALTER TABLE fees ADD COLUMN campus_id UUID REFERENCES campuses(id) ON DELETE CASCADE;
    END IF;
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'messages' AND column_name = 'campus_id') THEN
        ALTER TABLE messages ADD COLUMN campus_id UUID REFERENCES campuses(id) ON DELETE CASCADE;
    END IF;
END $ $;
